<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - The Bookie Joint</title>
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <h1>The Bookie Joint <img src="~/Content/Images/cat.gif" /></h1>
        <h2>@ViewBag.Heading</h2>
        <div id="main-content">@RenderBody() </div>
    </body>
</html>
