
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@Html.ActionLink("Books in Our Store", "Index", "BookCrud") &nbsp;|&nbsp;
@Html.ActionLink("Search for a Book", "Search", "BookCrud")<br/>
<p>Please bare with us as we are still constructing our website</p>


